# Виртуальное окружение
.venv/
venv/
env/

# Кеш Python
__pycache__/
*.pyc

# Папки IDE
.idea/
.vscode/

# Файлы ОС
.DS_Store
Thumbs.db

# Файлы с секретами (если будут)
.env
*.env

# Директории с данными (если не хотим хранить в гите)
#data/
